{% extends 'base.html'%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Card -->
            <div class="card testimonial-card">
                <!-- Content -->
                <div class="card-body">
                    <!-- Name -->
                    <h5 class="card-title">{{quotes.quote}}</h5>
                    <hr>
                    <!-- Quotation -->
                    <p><i class="fas fa-quote-left"></i>{{quotes.author}}</p>
                </div>

            </div>
            <!-- Card -->
        </div>
    </div>
    <br>
    <div class="row">
        {%for blog in blogs%}
        <div class="col-md-6">
            <!-- Card -->
            <div class="card card-image"
                style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h4 class="pink-text"><strong>{{blog.blog_title| capitalize}}</strong></h4>
                        <p>{{blog.blog| capitalize}}.</p>
                        <a href="{{url_for('main.new_comment',id=blog.id)}}" class="btn btn-blue"><i
                                class="fas fa-clone left"></i> Comments</a>
                        {% if current_user.role_id == 1 %}
                        <a href="{{url_for('main.delete_blog',id= blog.id)}}" class="btn btn-blue"><i
                                class="fas fa-clone left"></i> Delete Blog</a>
                        <a href="{{url_for('main.update_blog',id= blog.id)}}" class="btn btn-blue"><i
                                class="fas fa-clone left"></i> Update Blog</a>
                        {%endif%}

                    </div>
                </div>

            </div>
            <!-- Card --> <br>
        </div><br>
        {% endfor %}
        <br>
    </div>
</div>

{% endblock%}